[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
fastapi = "*"
uvicorn = "*"
tortoise-orm = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"],version = "*"}

[requires]
python_version = "3.7"

[scripts]
dev = "uvicorn app.main:app --reload"
